{% extends 'base.html' %}
{% block title %}home{% endblock title %}
{% block content %}

<div class="mt-4"style="font-size:30px; font-family: 'Acme', sans-serif; color:darkblue;">
    <p>Provide Best Education Services For You ,</p>
</div>

<div class="mt-5 mb-5" style="font-size:50px; font-family: 'Acme', sans-serif; color:blue;text-shadow:2px 1px red;">
<p>TECHNOVITY - ISO 9001:2015 Certified Institution - Software Training Institute.</p>
</div>

<div style="font-size:25px; font-family: 'Acme', sans-serif;line-height:50px; color:indigo;">

<p>Providing advanced level Gen 4.0 software training to students, Luminar Technolab is an IT finishing school situated at Kakkanad, near Infopark Cochin & Mavoor Road Calicut. Technovity is affiliated to National Council for Technology and Training (NACTET). NACTET is an autonomous organisation registered under Govt of Kerala and Government of India NCT, New Delhi under Indian trust act.
Born out from a group IT professionals with more than 15 years of industry experience, Luminar Technolab offers best software training and placement in emerging technologies like Big Data Analytics, Machine Learning, Artificial Intelligence, Data Science, Automation Testing, Full Stack Development, Python, MEAN Stack, Digital Marketing, PHP, Angular, Power BI & Tableau.
Our mission is to provide 100% placements to students those who enrol for our specialised courses.
The firm’s vision is to become the premium training centre that maximises value for customers by delivering high-quality training and placement 
services driven by intellect, innovation, and integrity in a fun and healthy environment.</p>

</div>


{% endblock content %}

